= form_for user, method: :post do |f|
  Email:
  = f.text_field :email
  %br
  First name:
  = f.text_field :first_name, require: false
  %br
  Last name:
  = f.text_field :last_name, require: false
  %br
  = f.submit "Sign up"